{% extends "layouts/main.html" %}

{% set serviceName = 'Upload redundancy payment forms(RP14/A)' %}

{% block pageTitle %}
  {{ serviceName }} – confirmation
{% endblock %}

{% block header %}
  {% include "ipservice/ip-upload/v4/_include-one-login-header.html" %}
{% endblock %}


{% block content %}
   <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
 <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
           Redundancy payment form(RP14/A) submitted
          </h1>
        </div>
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">
         You will recieve a confirmation email, the email will tell you if your form has been accepted or rejected.
    
        </p>
        <p class="govuk-body">
         If your form has been rejected the email will contain the reason for the rejection.
        </p>
      <!--  <p class="govuk-body">
         If your form has been accepted the email will contain the case reference number.
        </p> -->

        <a href="declaration.html" class="govuk-button">Upload another form</a>
      </div>
    </div>

</div>
    </div>
    
{% endblock %}
