{% extends "layouts/main.html" %}

{% set serviceName = 'Individual insolvency register' %}

{% set pageName="Case details" %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Case details</h1>

    <h2 class="govuk-heading-m">Individual details</h2>
    <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Full name</dt>
                                <dd class="govuk-summary-list__value">{{ data.name }}</dd>
                            </div>
    
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Title</dt>
                                <dd class="govuk-summary-list__value">Mr</dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Sex</dt>
                                <dd class="govuk-summary-list__value">Male</dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Work status</dt>
                                <dd class="govuk-summary-list__value">Unemployed</dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Date of birth</dt>
                                <dd class="govuk-summary-list__value">{{ data.caseResult.dob | default('17/09/1981') }}</dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key"> Last known address </dt>
                                <dd class="govuk-summary-list__value"> 44 Bancroft, Tamworth,  {{ data.caseResult.postcode | default('B77 2ES') }}</dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key"> Previous address(es)</dt>
                                <dd class="govuk-summary-list__value"><p>12 Willsford Avenue, Tamworth, B74 2HR</p></dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key"> This person may also be known as </dt>
                                <dd class="govuk-summary-list__value"> No other names found </dd>
                            </div>
                        </dl>

 <p class="govuk-body"> The individual details may have changed since the insolvency and therefore might not reflect the person's current address or occupation. </p>                       
 <h2 class="govuk-heading-m">Insolvency case details</h2>
<dl class="govuk-summary-list">

           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"> Type </dt>
            <dd class="govuk-summary-list__value">Debt Relief Restrictions Undertaking</dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"> Case name </dt>
            <dd class="govuk-summary-list__value">{{ data.name }} </dd>
        </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Start date (accepted)</dt>
            <dd class="govuk-summary-list__value">12 June 2022</dd>
        </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">End date</dt>
            <dd class="govuk-summary-list__value">
             12 June 2027
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Duration</dt>
            <dd class="govuk-summary-list__value">5 years</dd>
        </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Restriction reason (misconduct)</dt>
                <dd class="govuk-summary-list__value">
 On 11 March 2021 {{ data.name }} overstated their turnover to obtain a £50,000 Bounce Back Loan (BBL) to which they were not fully entitled and failed to disclose the BBL in their application for a Debt Relief Order (DRO). </dd>
            </div>

                        <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Register removal date</dt>
                <dd class="govuk-summary-list__value">
13 June 2027      
                </dd>
            </div>

    </dl>

    <p class="govuk-body">This Debt Relief Restrictions Undertaking was preceded by a Debt Relief Order</p>

<div class="govuk-inset-text">
    <h2 class="govuk-heading-m">Debt Relief Order details</h2>
<dl class="govuk-summary-list">

           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"> Type </dt>
            <dd class="govuk-summary-list__value">Debt Relief Order</dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"> Case name </dt>
            <dd class="govuk-summary-list__value">{{ data.name }} </dd>
        </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Insolvency Service reference number</dt>
            <dd class="govuk-summary-list__value">DRO5796739</dd>
        </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"> Start date (order)</dt>
            <dd class="govuk-summary-list__value">
                5 September 2021
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"> Status </dt>
            <dd class="govuk-summary-list__value">Revoked </dd>
        </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">End date (moratorium period)</dt>
                <dd class="govuk-summary-list__value">
12 June 2022          </dd>
            </div>
    </dl>
</div>

<h2 class="govuk-heading-m">Guidance</h2>
<p class="govuk-body"><a href="https://www.gov.uk/government/publications/debt-relief-restrictions-orders-and-undertakings/debt-relief-restrictions-orders-and-undertakings">Debt relief restrictions orders and undertakings</a></p>
<p class="govuk-body"><a href="https://www.gov.uk/options-for-dealing-with-your-debts/debt-relief-orders">Options for dealing with your debts: Debt Relief Orders</a></p>

<h2 class="govuk-heading-m">This register and credit files [content to be verified]</h2>
<p>
    Due to legislation this Debt Relief Restrictions Undertaking will:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>be removed from this register the day after it ends.</li>
    <li>stay on your credit file for 6 years after the Debt Relief Restrictions Undertaking is made. You should check if the entry has been removed after 6 years.
        <br><br>
        The 3 main UK credit agencies are <a href="https://www.transunion.co.uk/">TransUnion</a>, <a href="https://www.equifax.co.uk/">Equifax</a> and <a href="https://www.experian.co.uk/consumer/experian-credit-score.html">Experian</a>.
    </li> 
</ul>

<h2 class="govuk-heading-m">Errors or issues</h2>
<p class="govuk-body">If you believe that the details provided are inaccurate, please report this using <a class="govuk-link--no-visited-state" href="report-an-error-or-issue.html">report an error or issue</a>.</p>
        

<!--
<h2 class="govuk-heading-m">Insolvency practioner contact details</h2>

<dl class="govuk-summary-list">
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key"> Main insolvency practitioner </dt>
                                    <dd class="govuk-summary-list__value"> Racheal Marsh </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key"> Firm </dt>
                                    <dd class="govuk-summary-list__value"> AFA Insolvency </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key"> Address </dt>
                                    <dd class="govuk-summary-list__value">
                                        Suite 6, 4th Floor, Universal Square, Manchester <br>
                                        M12 6JH </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key"> Telephone </dt>
                                    <dd class="govuk-summary-list__value"> 0161 850 1018 </dd>
                                </div>
                            </dl> -->

<h2 class="govuk-heading-m">Insolvency service contact details</h2>    

<dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key"> Insolvency Service office </dt>
                                <dd class="govuk-summary-list__value"> Personal Insolvency </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key"> Contact </dt>
                                <dd class="govuk-summary-list__value"> Enquiry Desk </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key"> Address </dt>
                                <dd class="govuk-summary-list__value"> The Insolvency Service, Met Office, Fitzroy Road, Exeter </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key"> Postcode </dt>
                                <dd class="govuk-summary-list__value"> EX1 3PB </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key"> Telephone </dt>
                                <dd class="govuk-summary-list__value"> 0300 678 0016 </dd>
                            </div>
                        </dl>


<form action="search-the-individual-insolvency-register" method="post" novalidate>
{{ govukButton({
  text: "Start a new search"
}) }}
</form>
  </div>
</div>

{% endblock %}

{% block footer %}
  {% include "find-an-ip/includes/footer-content.html" %}
{% endblock %}
