{% extends "layouts/version-template.html" %}

{% block pageTitle %}
   {{ serviceName }} – prototype versions
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "/"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-l">Upload redundancy payment forms(RP14/A)</h1>



<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
     Version 6
    </h2>
  </div>
  <div class="govuk-summary-card__content">
  <p class="govuk-body">This version includes updated content for the reference page</p>
  <a href="v6/start-dcrs.html" class="govuk-button govuk-button--secondary">View prototype 6</a>

  <h3 class="govuk-heading-s">Links to pages</h3>
  <ul class="govuk-list">
       <li><a href="v6/confirmation.html">Confirmation with link to survey</a></li>
      <li><a href="v6/case-reference-number.html">Employer reference</a></li>
    <li><a href="v6/employer-details.html">Employer details</a></li>
     <li><a href="v6/check-your-answers.html">Check your answers</a></li>
  </ul>
  </div>
</div>       

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
     Version 5A/B
    </h2>
  </div>
  <div class="govuk-summary-card__content">
  <p class="govuk-body">This version includes employer validation with user entering reference number</p>
  <a href="v5b/start-dcrs.html" class="govuk-button govuk-button--secondary">View prototype 5B</a>

  <p class="govuk-body">This version includes employer validation</p>
  <a href="v5/start-dcrs.html" class="govuk-button govuk-button--secondary">View prototype 5A</a>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <h3 class="govuk-heading-s">Links to pages</h3>
  <ul class="govuk-list">
    <li><a href="v5/employer-details.html">Employer details</a></li>
     <li><a href="v5/check-your-answers.html">Check your answers</a></li>
  </ul>
  </div>
</div>      

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
     Version 4
    </h2>
  </div>
  <div class="govuk-summary-card__content">
  <p class="govuk-body">This version includes the service start page and login screens.</p>
  <a href="v4/start-dcrs.html" class="govuk-button govuk-button--secondary">View prototype 4</a>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <h3 class="govuk-heading-s">Links to pages</h3>
  <ul class="govuk-list">
    <li><a href="v4/base-layout.html">Base layout</a></li>
    <li><a href="v4/confirmation.html">Confirmation page</a></li>
    <li><a href="v4/page-not-found.html">Page not found</a></li>
    <li><a href="v4/problem-with-this-service.html">Problem with this service</a></li>
  </ul>
  </div>
</div>



      <div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
     Version 3
    </h2>
  </div>
  <div class="govuk-summary-card__content">
  <p class="govuk-body">This version includes the service start page and login screens.</p>
  <a href="v3/start-dcrs.html" class="govuk-button govuk-button--secondary">View prototype 3</a>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <h3 class="govuk-heading-s">Links to pages</h3>
  <ul class="govuk-list">
    <li><a href="v3/base-layout.html">Base layout</a></li>
    <li><a href="v3/page-not-found.html">Page not found</a></li>
    <li><a href="v3/problem-with-this-service.html">Problem with this service</a></li>
    <li><a href="v3/start-dcrs.html">DCRS existing start page</a></li>
    <li><a href="v3/sign-in.html">Sign in page</a></li>
   <!--<li><a href="v3/reset-password.html">Reset password page</a></li>
    <li><a href="v3/reset-password-confirmation.html">Reset password confirmation</a></li> -->
    <li><a href="v3/start.html">Service start page</a></li>
    <li><a href="v3/upload.html">Upload a file</a></li>
    <li><a href="v3/form-validation-errors.html">Your form has errors</a></li>
    <li><a href="v3/form-validation-errors-detail.html">Form errors detail</a></li>
    <li><a href="v3/check-your-answers.html">Check your answers</a></li>
    <li><a href="v3/confirmation.html">Confirmation page</a></li>
  </ul>
  </div>
</div>
<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
     Version 2
    </h2>
  </div>
              <div class="govuk-summary-card__content">
              <p class="govuk-body">Includes form validation errors playback page</p>
              <a href="v2/home.html" class="govuk-button govuk-button--secondary">View prototype 2</a>
              </div>
</div>
<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
     Version 1
    </h2>
  </div>
      <div class="govuk-summary-card__content">
        
              <a href="v1/home.html" class="govuk-button govuk-button--secondary">View prototype 1</a>
              </div>
  </div>
</div>

     
    </div>
  </div>

{% endblock %}




